<div class="row-fluid">
	<!-- <div class="panel panel-default">
		 <div class="panel-heading">
		      	 <h3 class="panel-title">
		         我申请领取的愿望
		      	 </h3>
		 </div>
	   	 <div class="panel-body">
	   	 	<p ng-show="ApplyToPickWishes.length === 0">暂时还没有申请领取的愿望</p>
	      		<div class="hero-unit" ng-repeat="wish in ApplyToPickWishes">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a>
					<a class="btn btn-primary btn-large" ui-sref="user.contact({userId: wish.user,username: wish.username})">联系她</a>
				</p>
			</div>
	   	 </div>
	</div> -->
	<div class="panel panel-default">
		 <div class="panel-heading">
		      	 <h3 class="panel-title">
		         正在进行中的愿望
		      	 </h3>
		 </div>
	   	 <div class="panel-body">
	   	 	<p ng-show="PickedWishes.length === 0">暂时还没有正在进行的愿望</p>
	      		<div class="hero-unit" ng-repeat="wish in PickedWishes">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a>
					<a class="btn btn-primary btn-large" ui-sref="user.info({userId: wish.user})">查看资料</a>
					<a class="btn btn-primary btn-large" ui-sref="user.contact({userId: wish.user,username: wish.username})">联系她</a>
				</p>
			</div>
	   	 </div>
	</div>
	<div class="panel panel-default">
		 <div class="panel-heading">
		      	 <h3 class="panel-title">
		         已完成的愿望
		      	 </h3>
		 </div>
	   	 <div class="panel-body">
	   	 	<p ng-show="CompletedWishes.length === 0">暂时还没有已经完成的愿望</p>
	      		<div class="hero-unit" ng-repeat="wish in CompletedWishes">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<!-- <a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a> -->
					<!-- <a class="btn btn-primary btn-large" ui-sref="user.contact({userId: wish.user})">联系她</a> -->
					<a class="btn btn-primary btn-large" ui-sref="user.info({userId: wish.user})">查看资料</a>
				</p>
			</div>
	   	 </div>
	</div>
</div>