<div class="row-fluid">
	<div class="panel panel-default">
		 <div class="panel-heading">
		      	 <h3 class="panel-title">
		         我领取的愿望
		      	 </h3>
		 </div>
	   	 <div class="panel-body" ng-repeat="wish in wishes">
	      		<div class="hero-unit">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a>
					<a class="btn btn-primary btn-large" ui-sref="user.contact({userId: wish.user})">联系她</a>
				</p>
			</div>
	   	 </div>
	</div>
</div>