<div class="auto-roll-img" autoroll>
    <div class="carousel slide" id="myCarousel">
        <ol class="carousel-indicators wishwall-carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
            <li data-slide-to="1" data-target="#myCarousel" class=""></li>
            <li data-slide-to="2" data-target="#myCarousel" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="" src="http://7xnxuw.com1.z0.glb.clouddn.com/1.png" height="1080" width="1920"></div>
            <div class="item">
                <img alt="" src="http://7xnxuw.com1.z0.glb.clouddn.com/2.png" height="1600" width="2560"></div>
            <div class="item">
                <img alt="" src="http://7xnxuw.com1.z0.glb.clouddn.com/3.png" height="1200" width="1920"></div>
        </div>
    </div>
</div>
<div class="section wishwall-section" infinite-scroll="nextpage(page, per_page, search_area, search_wishtype)" infinite-scroll-disabled="isLoading" infinite-scroll-distance="4">
    <div class="row">
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in oddwishes">
                <div class="panel-body wishwall-panel-body">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}" alt="" class="headimg">

                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>
                        <span class="pick_this" ng-click="pickWish(wish)">icon</span>

                        <hr class="wishborder">
                        <p class="wish_content">{{wish.wish}}</p>
                    </div>

                    <img ng-if="wish.img" ng-src="{{wish.img}}" alt="" class="wish-content-img" ng-click="previewImage(wish.img)"></div>
            </div>
        </div>
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in evenwishes">
                <div class="panel-body wishwall-panel-body">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}" alt="" class="headimg">
                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>
                       <span class="pick_this" ng-click="pickWish(wish)">icon</span>
                        <hr class="wishborder">
                        <p class="wish_content">{{wish.wish}}</p>
                    </div>
                    <img ng-if="wish.img" ng-src="{{wish.img}}" alt="" class="wish-content-img" ng-click="previewImage(wish.img)"></div>
            </div>
        </div>
    </div>
</div>