<!DOCTYPE html>
<html lang="en" ng-app="gdutWishWall">

<head>
    <meta charset="UTF-8">
    <title>许愿墙</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--build:css public/css/app.css-->
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!--endbuild-->
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css"></head>

<body>

    <div class="app" >
        <div class='app-body wishwall-app-body'>
            <div class='app-content'>
                <div ui-view></div>
            </div>
        </div>
        <div ng-controller="LeaderCtrl" class="wishwall-leader" wishwallmodal>
            <div class="navbar wishwall-navbar-app wishwall-navbar-app-bottom navbar-fixed-bottom">
                <a href="javascript:void(0)" class="btn btn-navbar active wishwall-navbar-bottom-btn" ui-sref="index.wishwall" ui-sref-opts="{reload: true}"> <i class="fa fa-home wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" ui-sref="wish.search" class="btn btn-navbar wishwall-navbar-bottom-btn"> <i class="fa fa-search wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar select-box-button wishwall-navbar-bottom-btn active-longer" data-toggle="modal" data-target="#chooseModal">
                    <i class="fa fa-plus wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="user.message" ng-click="cancelMsgCount()">
                    <i class="fa fa-comment wishwall-icon-home fa-navbar"></i>
                    <span class="badge" ng-if="unread_num !== 0"></span>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="userinfo({userId: '56530c9d492762907d42003e'})" ui-sref-opts="{reload: true}">
                    <i class="fa fa-user wishwall-icon-home fa-navbar"></i>
                </a>
            </div>
        </div>
        <div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="chooseModel-content">
                <div class="choose-wish" ui-sref="user.writewish({type: 1})" aria-label="Close" data-dismiss="modal">许愿望</div>
                <div class="choose-bless" ui-sref="user.writebless" aria-label="Close" data-dismiss="modal">发祝福</div>
            </div>
        </div>
    </div>

    <!--build:js public/js/index.js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="public/js/infinite-scroll.js"></script>
    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/services.js"></script>
    <script src="public/js/directives.js"></script>
    <script src="public/js/controllers.js"></script>

    <!--endbuild-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>