<!DOCTYPE html>
<html lang="en" ng-app="gdutWishWall">

<head>
    <meta charset="UTF-8">
    <title>广工女生节许愿墙</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="public/css/app-c63dff6f4d.css"/>
</head>

<body>

    <div class="app" >
        <div class='app-body wishwall-app-body'>
            <div class='app-content'>
                <div ui-view></div>
            </div>
        </div>
        <div class="loading">
            <img src="public/img/loading.png" alt="" class="loading-img" ng-show="LoadingAnimateCtrl">
        </div>
        <div ng-controller="LeaderCtrl" class="wishwall-leader" wishwallmodal>
            <div class="navbar wishwall-navbar-app wishwall-navbar-app-bottom navbar-fixed-bottom">
                <a href="javascript:void(0)" class="btn btn-navbar btnactive wishwall-navbar-bottom-btn fa fa-home" ui-sref="index.wishwall({select: ''})" ui-sref-opts="{reload: true}">
                    <img src="http://7xnxuw.com1.z0.glb.clouddn.com/1_home_red.png" ng-click="leadericon=1" ng-show="leadericon===1">
                    <img class="icon-none" src="http://7xnxuw.com1.z0.glb.clouddn.com/1_home_grey.png" ng-click="leadericon=1" ng-show="leadericon!==1"></a><a href="javascript:void(0)" ui-sref="wish.search" class="btn btn-navbar wishwall-navbar-bottom-btn fa fa-search">
                    <img class="icon-none" src="http://7xnxuw.com1.z0.glb.clouddn.com/search.png" ng-click="leadericon=2" ng-show="leadericon===2">
                    <img src="http://7xnxuw.com1.z0.glb.clouddn.com/search-gray.png" ng-click="leadericon=2" ng-show="leadericon!==2"></a><a href="javascript:void(0)" class="btn btn-navbar select-box-button wishwall-navbar-bottom-btn active-longer fa fa-add" data-toggle="modal" data-target="#chooseModal">
                    <img src="http://7xnxuw.com1.z0.glb.clouddn.com/add.png"></a><a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn fa fa-notice" ui-sref="user.message" ng-click="cancelMsgCount()">
                    <img class="icon-none" src="http://7xnxuw.com1.z0.glb.clouddn.com/news.png" ng-click="leadericon=4" ng-show="leadericon===4">
                    <img src="http://7xnxuw.com1.z0.glb.clouddn.com/news-gray.png" ng-click="leadericon=4" ng-show="leadericon!==4">
                    <span class="badge leader-badge" ng-show="unread_num !== 0"></span>
                </a><a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn fa fa-info" ui-sref="userinfo({userId: user._id})" ui-sref-opts="{reload: true}">
                    <img class="icon-none" src="http://7xnxuw.com1.z0.glb.clouddn.com/info.png" ng-click="leadericon=5" ng-show="leadericon===5">
                    <img src="http://7xnxuw.com1.z0.glb.clouddn.com/info-gray.png" ng-click="leadericon=5" ng-show="leadericon!==5"></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="chooseModel-content chooseModel-content-mystery">
            <div class="choose-mystery" aria-label="Close" data-dismiss="modal" ui-sref="user.mysterylover({userId: user._id})">
                <img src="public/img/8_crush.png" class="choose-icon" alt="">
                <span>暗恋</span>
            </div>
        </div>
        <div class="chooseModel-content">
            <div class="choose-wish" ui-sref="user.writewish({type: 1})" aria-label="Close" data-dismiss="modal" ng-if="user.sex===1">
                <img src="public/img/11_wish.png" alt="" class="choose-icon">
                <span>许愿</span>
            </div>
            <div class="choose-bless" ui-sref="user.writebless" aria-label="Close" data-dismiss="modal">
                <img src="public/img/11_bless.png"  alt="" class="choose-icon">
                <span>祝福</span>
            </div>
        </div>
    </div>
    <script src="public/js/index-53eeea952c.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>