<form role="form" name="putWishForm">
	 <div class="form-group">
	 	<label>愿望类型</label><br>
	 	<select name="wish_type" id="" ng-model="wish.wishType" required>
	 		<option value="耗时类">耗时类</option>
	 		<option value="实物类">实物类</option>
	 	</select><p style="display: inline; color:red" ng-show="putWishForm.wish_type.$invalid">请选择愿望类型!</p><br>
	    	<label for="name">愿望内容</label>
	    	<textarea class="form-control" rows="3" placeholder="写下你的愿望" ng-model="wish.wish" name="wish" ng-maxlength="140" required></textarea>
	    	<p style="color: red" ng-show="putWishForm.wish.$invalid">愿望不能为空且不能超过140个字</p>
	 </div>
	 <button type="submit" class="btn btn-default" ng-click="refreshWish(wish)" ng-disabled="putWishForm.$invalid">确定更改</button>
</form>