<div class="row-fluid">
	<div class="panel panel-default">
		 <div class="panel-heading">
		      	 <h3 class="panel-title">
		         已被领取的愿望
		      	 </h3>
		 </div>
	   	 <div class="panel-body">
	   	 	<p ng-show="PickedWishes.length === 0">暂时还没有被领取的愿望</p>
	      		<div class="hero-unit" ng-repeat="wish in PickedWishes">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a>
				</p>
			</div>
	   	 </div>
	</div>
	<div class="panel panel-default">
		 <div class="panel-heading">
		        <h3 class="panel-title">
		         	未被领取的愿望
		        </h3>
		 </div>
		 <div class="panel-body">
		 	<p ng-show="UnpickWishes.length === 0">暂时还没有未被领取的愿望</p>
	      		<div class="hero-unit" ng-repeat="wish in UnpickWishes">
				<h1>
					{{wish.username}}
				</h1>
				<p>
					{{wish.wish}}
				</p>
				<p>
					<a class="btn btn-primary btn-large" ui-sref="wish.detail({wishId: wish._id})">愿望详情</a>
				</p>
			</div>
		 </div>
	</div>
</div>