<div class="wishdetail">

	<div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top ">
		<!-- Top Navbar -->
		<div class="navbar-brand navbar-brand-center">
			愿望详情
			<a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()"> <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="wishwall-col-6">
				<div class="panel panel-default wishwall-panel">
					<div class="panel-body wishwall-panel-body">
						<div class="wishinfo-panel">
							<img ng-src="{{wish.userheadimg}}" alt="" class="headimg">

							<div class="username">
								<span>{{wish.username}}</span>
							</div>
							<span class="pick_this" ng-click="deleteWish(wish)" ng-if="wish.ispicked === 0">删除</span>
							<span class="pick_this" ng-if="wish.ispicked === 0 && !isRewrite" ui-sref="user.writewish({type:2, wishId:wish._id})">修改</span>
							<span class="pick_this" ng-click="completeWish(wish)" ng-if="wish.ispicked === 1">确认完成</span>

						</div>
						<hr class="wishborder" ng-if="!wish.img">
						<img ng-if="wish.img" ng-src="{{wish.img}}" alt="" class="wish-content-img">
						<p class="wish_content">{{wish.wish}}</p>
						<div class="wish_tags">
							<span class="type" ng-bind="wish.wishType"></span>

							<span class="area" ng-bind="wish.school_area"></span>
							<span class="time">{{wish.publishDate | date: "MM.dd"}}</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="wishpicker">
		<div class="col-xs-12">
			<div class="wishwall-col-6">
				<div class="panel panel-default wishwall-panel">
					<div class="panel-body wishwall-panel-body">
						<div class="wishinfo-panel">
							<img ng-src="{{wishpicker.headimgurl}}" alt="" class="headimg">

							<div class="username wishpickername">
								<span>{{wishpicker.real_name}}</span>
								<br>
								<span class="nickname">{{wishpicker.nickname}}</span>
							</div>
							<span class="pick_this"  ui-sref="user.contact({userId: wishpicker._id, username: wishpicker.nickname})">联系ta</span>
						</div>
						<hr class="wishborder">
						<div class="picker-info">
							<div class="row">
								<div class="col-xs-6">{{wishpicker.school_area}}校区</div>
								<div class="col-xs-6">{{wishpicker.college_name.slice(0, 7)}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{wishpicker.long_tel}}</div>
								<div class="col-xs-6">{{wishpicker.short_tel}}</div>
							</div>
						</div>
						

					</div>
				</div>
			</div>
		</div>
	</div>

</div>