<div class="msg-container" style="padding-bottom: 50px;">
   <div ng-repeat="msg in contacts track by $index" ng-if="msg.sender === thatUser || msg.receiver === thatUser" ng-class="msg.sender === thatUser ? 'that' : (msg.receiver === thatUser ? 'this' : '')">
      {{msg.msg_time | date: "yyyy-MM-dd  H:m"}}
      <br>
      <p>{{msg.msg}}</p>
   </div>
   
</div>
<div style="position: fixed;bottom: 5px;margin-right: 10px;">
   <form class="bs-example bs-example-form" role="form">
      <div class="row">
         <div class="col-lg-12">
            <div class="input-group">
               <input type="text" class="form-control" ng-model="contact_msg">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="sendMsg()" ng-disabled="!isConnected">
                     发送
                  </button>
               </span>
            </div><!-- /input-group -->
         </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
   </form>
</div>