<div class="scrollable">
    <div class="scrollable-content msg-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top message-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center">消息</div>

        </div>
        <div class="row">
            <div class="col-xs-12" ng-click="clearNotice('Notice')">
            	<div class="greenbox"><span class="badge"ng-bind="notices_num" ng-if="notices_num !== 0"></span></div><p>通知</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-click="clearNotice('Praise')">
            	<div class="greenbox"><span class="badge"ng-bind="praise_num" ng-if="praise_num !== 0"></span></div><p>获赞</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-click="clearNotice('User')">
                <div class="greenbox"><span class="badge"ng-bind="user_num" ng-if="user_num !== 0"></span></div><p>私信</p>
            </div>
        </div>
    </div>
</div>