<div>
	<button ng-click='clearMsg()'>清空消息记录</button><br>
	<div class="panel panel-default">
		<div class="panel-heading">
		      	 <h3 class="panel-title">
		         系统消息
		      	 </h3>
		 </div>
		 <div class="panel-body" ng-repeat="msg in SystemMsg">
		      <p style="background-color: gray;">
		      {{msg.msg_time | date: "yyyy-MM-dd  H:m"}}
		      <!-- <span class="badge">新</span> -->
		      {{msg.sender_name}}{{msg.msg}}
		      </p>
		 </div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		      	 <h3 class="panel-title">
		         用户消息
		      	 </h3>
		 </div>
		 <div class="panel-body" ng-repeat="msg in UserMsg">
		      <p style="background-color: gray;" ui-sref="user.contact({userId: msg.sender, username: msg.sender_name})">
		      {{msg.msg_time | date: "yyyy-MM-dd  H:m"}}
		      <!-- <span class="badge">新</span> -->
		      {{msg.sender_name}}给你发来一条消息
		      </p>
		 </div>
	</div>
</div>