<div class="scrollable">
    <div class="scrollable-content mystery-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center">
                暗恋匹配
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()"> <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>你的真实姓名</p>
                        <input type="text" class="form-control" ng-model="myname">
                        <p>对方的真实姓名</p>
                        <input type="text" class="form-control" ng-model="hisname">
                        <br>
                        <button type="button" class="btn btn-danger" ng-click="searchMystery()">立刻匹配</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>