<div class="scrollable">
    <div class="scrollable-content msg-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center">设置
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()">
                    <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="greenbox"></div><p>个人信息</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ui-sref="user.mysterylover">
                <div class="greenbox"></div><p>暗恋匹配</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ui-sref="aboutus">
                <div class="greenbox"></div><p>关于我们</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ui-sref="advise">
                <div class="greenbox"></div><p>意见反馈</p>
            </div>
        </div>
    </div>
</div>