<div class="section wishwall-section userinfowishwall">
    <div class="row">
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in oddwishes">
                <div class="panel-body wishwall-panel-body" ui-sref="wish.detail({wishId: wish._id, sex: user.sex})">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}?imageView2/2/w/60" alt="" class="headimg">
                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>
                        <span class="pick_this" ng-if="wish.ispicked === 0">未领取</span>
                        <span class="pick_this" ng-if="wish.ispicked === 1">进行中</span>
                        <span class="pick_this" ng-if="wish.ispicked === 2">已完成</span>
                        <hr class="wishborder">
                        <p class="wish_content">{{wish.wish}}</p>
                    </div>

                    <img ng-if="wish.img" ng-src="{{wish.img}}" alt="" class="wish-content-img"></div>
            </div>
        </div>
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in evenwishes">
                <div class="panel-body wishwall-panel-body" ui-sref="wish.detail({wishId: wish._id, sex: user.sex})">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}?imageView2/2/w/60" alt="" class="headimg">
                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>
                        <span class="pick_this" ng-if="wish.ispicked === 0">未领取</span>
                        <span class="pick_this" ng-if="wish.ispicked === 1">进行中</span>
                        <span class="pick_this" ng-if="wish.ispicked === 2">已完成</span>
                        <hr class="wishborder">
                        <p class="wish_content">{{wish.wish}}</p>
                    </div>
                    <img ng-if="wish.img" ng-src="{{wish.img}}" alt="" class="wish-content-img"></div>
            </div>
        </div>
    </div>
</div>