<div class="scrollable">
    <div class="scrollable-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top userinfo-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center">
                {{user.nickname}}
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ui-sref="setting">
                    <i class="fa fa-cog fa-navbar wishwall-icon-cog"></i>
                </a>
            </div>
            
            
        </div>
        <div class="list-group text-center wishwall-list-group">
            <div class="list-group-item user-info-bg">
                <img ng-src="{{user.headimgurl}}" alt="" class="userheadimg">
                <br>
                <span class="info_school_area">{{user.school_area}}&nbsp;{{user.college_name.slice(0, 7)}}</span>
                <span class="info_college_name"></span>
            </div>
        </div>
        <div class="navbar navbar-app userinfo-navbar-middle" wishwalltop>
            <div class="row">
                <div class="col-xs-6">
                    <a ui-sref="userinfo.wishwall({sex: user.sex})" class="active col-xs-6 wishwall-navbar-top-btn">许愿墙</a>
                </div>
                <div class="col-xs-6">
                    <a ui-sref="userinfo.blesswall" class="col-xs-6 wishwall-navbar-top-btn">祝福墙</a>
                </div>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>