<div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top">
	<div class="navbar-brand navbar-brand-center">
		编辑信息
		<a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()"> <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
		</a>
	</div>
</div>
<form class="wishwall-write-info-form" role="form" name="writeInfoForm">
	<div class="wishwall-write-info">
		<div class="row">
			<label>真实姓名
			<input type="text" ng-model="user.real_name" required></div>
			</label>
		<div class="row">
			<label>手机长号
			<input type="text" name="long_tel" ng-model="user.long_tel" required ng-pattern="/^0?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"></div>
			</label>
		<div class="row">
			<label>邮箱
			<input type="text" ng-model="user.email" required ng-pattern="/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/"></div>
			</label>
		<div class="row row-noborder">
			<label>校园短号
			<input type="text" placeholder="选填" ng-model="user.short_tel"></div>
			</label>
	</div>
	<div class="wishwall-write-info school-area">
		<div class="row row-noborder rewrite-container">
			<label>所在校区
			<select name="school_area" id="" ng-model="user.school_area" required class="hide-select-school form-control input-lg rewrite-select">
				<option value="大学城">大学城</option>
				<option value="龙洞">龙洞</option>
				<option value="东风路">东风路</option>
				<option value="番禺">番禺</option>
			</select>
			</label>
			<div class="area-selection">
			    <span ng-if="!user.school_area">请选择校区</span>
			    <span ng-bind="user.school_area"></span>
			</div>
		</div>
	</div>
	<div class="wishwall-write-info college-name">
		<div class="row row-noborder rewrite-container">
			<label>所读学院
			<select name="college_name" id="" ng-model="user.college_name" required class="hide-select-school form-control input-lg rewrite-select" dir="ltr" wishwallselector>
				<!-- 大学城 -->
				<option value="计算机学院" ng-if="user.school_area == '大学城'">计算机学院</option>
				<option value="自动化学院" ng-if="user.school_area == '大学城'">自动化学院</option>
				<option value="轻工化工学院" ng-if="user.school_area == '大学城'">轻工化工学院</option>
				<option value="信息工程学院" ng-if="user.school_area == '大学城'">信息工程学院</option>
				<option value="土木与交通工程学院" ng-if="user.school_area == '大学城'">土木与交通工程学院</option>
				<option value="机电工程学院" ng-if="user.school_area == '大学城'">机电工程学院</option>
				<option value="材料与能源学院" ng-if="user.school_area == '大学城'">材料与能源学院</option>
				<option value="环境科学与工程学院" ng-if="user.school_area == '大学城'">环境科学与工程学院</option>
				<option value="外国语学院" ng-if="user.school_area == '大学城'">外国语学院</option>
				<option value="物理与光电工程学院" ng-if="user.school_area == '大学城'">物理与光电工程学院</option>

				<!-- 龙洞 -->
				<option value="管理学院" ng-if="user.school_area == '龙洞'">管理学院</option>
				<option value="应用数学学院" ng-if="user.school_area == '龙洞'">应用数学学院</option>
				<option value="政法学院" ng-if="user.school_area == '龙洞'">政法学院</option>
				<option value="经济与贸易学院" ng-if="user.school_area == '龙洞'">经济与贸易学院</option>
				<!-- 东风路 -->
				<option value="艺术设计学院" ng-if="user.school_area == '东风路'">艺术设计学院</option>
				<option value="政法学院" ng-if="user.school_area == '东风路'">政法学院</option>
				<option value="建筑与城市规划学院" ng-if="user.school_area == '东风路'">建筑与城市规划学院</option>
				<option value="继续教育学院" ng-if="user.school_area == '东风路'">继续教育学院</option>
				<option value="国际文化教育中心" ng-if="user.school_area == '东风路'">国际文化教育中心</option>

				<!-- 番禺 -->
				<option value="商学院" ng-if="user.school_area == '番禺'">商学院</option>
			</select>
			</label>
			<div class="area-selection">
			    <span ng-if="!user.school_area && !user.college_name">请先选择学院</span>
			    <span ng-if="user.school_area && !user.college_name">请选择学院</span>
			    <span ng-bind="user.college_name"></span>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-warning" ng-click="setUserInfo()" ng-disabled="writeInfoForm.$invalid || isClick" ng-if="type === '1'">确定</button>
	<button type="button" class="btn btn-warning" ng-click="pickWish()" ng-disabled="writeInfoForm.$invalid || isClick" ng-if="type === '2'">确定领取</button>
	<button type="button" class="btn btn-warning" ng-click="pickWish()" ng-disabled="writeInfoForm.$invalid || isClick" ng-if="type === '3'">确定修改</button>
</form>
