<form role="form" name="writeInfoForm">
     <div class="form-group">
        <label>真实姓名</label><br>
        <input name="real_name" ng-model="real_name" type="text" required>
        <p style="display: inline; color:red" ng-if="writeInfoForm.real_name.$invalid">请输入你的真实姓名</p><br><br>
        <label>请选择校区</label><br>
        <select name="school_area" id="" ng-model="school_area" required>
            <option value="大学城">大学城</option>
            <option value="龙洞">龙洞</option>
            <option value="东风路">东风路</option>
            <option value="番禺">番禺</option>
        </select>
        <p style="display: inline; color:red" ng-if="writeInfoForm.school_area.$invalid">请选择你所在的校区</p>
        <br><br>
        <label>请选择学院</label><br>
        <select name="college_name" id="" ng-model="college_name" required>
            <!-- 大学城 -->
            <option value="计算机学院" ng-if="school_area == '大学城'">计算机学院</option>
            <option value="自动化学院" ng-if="school_area == '大学城'">自动化学院</option>
            <option value="轻工化工学院" ng-if="school_area == '大学城'">轻工化工学院</option>
            <option value="信息工程学院" ng-if="school_area == '大学城'">信息工程学院</option>
            <option value="土木与交通工程学院" ng-if="school_area == '大学城'">土木与交通工程学院</option>
            <option value="机电工程学院" ng-if="school_area == '大学城'">机电工程学院</option>
            <option value="材料与能源学院" ng-if="school_area == '大学城'">材料与能源学院</option>
            <option value="环境科学与工程学院" ng-if="school_area == '大学城'">环境科学与工程学院</option>
            <option value="外国语学院" ng-if="school_area == '大学城'">外国语学院</option>
            <option value="物理与光电工程学院" ng-if="school_area == '大学城'">物理与光电工程学院</option>
            <!-- 龙洞 -->
            <option value="管理学院" ng-if="school_area == '龙洞'">管理学院</option>
            <option value="应用数学学院" ng-if="school_area == '龙洞'">应用数学学院</option>
            <option value="政法学院" ng-if="school_area == '龙洞'">政法学院</option>
            <option value="经济与贸易学院" ng-if="school_area == '龙洞'">经济与贸易学院</option>
            <!-- 东风路 -->
            <option value="艺术设计学院" ng-if="school_area == '东风路'">艺术设计学院</option>
            <option value="政法学院" ng-if="school_area == '东风路'">政法学院</option>
            <option value="建筑与城市规划学院" ng-if="school_area == '东风路'">建筑与城市规划学院</option>
            <option value="继续教育学院" ng-if="school_area == '东风路'">继续教育学院</option>
            <option value="国际文化教育中心" ng-if="school_area == '东风路'">国际文化教育中心</option>
            <!-- 番禺 -->
            <option value="国际教育学院" ng-if="school_area == '番禺'">国际教育学院</option>
        </select>
        <p style="display: inline; color:red" ng-if="writeInfoForm.college_name.$invalid">请选择你所在的学院</p><br><br>
        <label>长号</label><br>
        <input type="text" name="long_tel" ng-model="long_tel" required ng-pattern="/^0?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/">
        <p style="display: inline; color:red" ng-if="writeInfoForm.long_tel.$invalid">请输入合理的手机号</p><br><br>
        <label>短号</label><br>
        <input type="text" name="short_tel" ng-model="short_tel">
     </div>
     <button type="submit" class="btn btn-default" ui-sref="user.writebless" ng-if="user.sex === 2 && isRewrite !== '1'">上一步</button>
     <button type="submit" class="btn btn-default" ng-click="publicBless()" ng-disabled="writeInfoForm.$invalid" ng-if="isRewrite !== '1'">发布祝福</button>
     <button type="submit" class="btn btn-default" ng-click="rewrite()" ng-disabled="writeInfoForm.$invalid" ng-if="isRewrite === '1'">确认修改</button>
</form>