<div class="wishdetail">
	<div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top ">
		<div class="navbar-brand navbar-brand-center">
			我的祝福
			<a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()"> <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="wishwall-col-6">
				<div class="panel panel-default wishwall-panel">
					<div class="panel-body wishwall-panel-body">
						<div class="wishinfo-panel">
							<img ng-src="{{bless.userheadimg}}" alt="" class="headimg">
							<div class="username">
								<span>{{bless.username}}</span>
							</div>
							<span class="pick_this">红心</span>
						</div>
						<hr class="wishborder" ng-if="!bless.img">
						<img ng-if="bless.img" ng-src="{{bless.img}}" alt="" class="wish-content-img">
						<p class="wish_content">{{bless.bless}}</p>
						<div class="wish_tags">
							<span class="area" ng-bind="bless.school_area"></span>
							<span class="time">{{bless.publishDate | date: "MM.dd"}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>