<!DOCTYPE html>
<html lang="en" ng-app="gdutWishWall">
<head>
	<meta charset="UTF-8">
	<title>许愿墙</title>
	<meta name="viewport" content="initial-scale=1" />
    	<meta http-equiv="Cache-Control" content="no-transform " />
    	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/public/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
	     	<div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" 
		           data-target="#example-navbar-collapse">
		           	
		           	<span class="sr-only">切换导航</span>
		           	<span class="icon-bar"></span>
		           	<span class="icon-bar"></span>
		           	<span class="icon-bar"></span>
		        </button>

	        	<a class="navbar-brand" ui-sref="index" ui-sref-opts="{reload: true}">许愿墙<span ng-bind="user.nickname"></span></a>
	     	</div>
	     	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		        <ul class="nav navbar-nav">
		           	<li><a ui-sref="index" ui-sref-opts="{reload: true}">首页</a></li>
		           	<li><a ui-sref="user.info({userId: user._id})">个人中心</a></li>
		           	<li ng-if="user.sex === 2"><a ui-sref="wish.femalewish" ui-sref-opts="{reload: true}">我许下的愿望</a></li>
		           	<li ng-if="user.sex === 1"><a ui-sref="wish.malewish" ui-sref-opts="{reload: true}">我领取的愿望</a></li>
		           	<li><a ui-sref="user.message"  ng-click="cancelMsgCount()" ui-sref-opts="{reload: true}">消息中心 <span class="wishwall_badge badge" ng-if="hasNewMsg"></span></a></li>
		           	<li ng-if="user.sex === 2"><a ui-sref="user.writewish">许愿</a></li>
		        </ul>
	     	</div>
	</nav>

	<div ui-view>
		
	</div>

	

	<script src="/public/scripts/jquery.min.js"></script>
	<script src="/public/scripts/bootstrap.min.js"></script>
	<script src="/public/scripts/angular/angular.min.js"></script>
	<script src="/public/scripts/angular/angular-ui-router.min.js"></script>
	<script src="/public/scripts/angular/ng-infinite-scroll.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/public/scripts/socket.io.js"></script>
	<script src="/public/scripts/app.js"></script>
	<script src="/services/service.js"></script>
	<script src="/services/DataShare.js"></script>
	<script src="/controllers/MainCtrl.js"></script>
</body>
</html>